
*.o

# Generated binaries
CPU-Sphere-Test
CPU-Mesh-Test
generate-test
Eigen
Full-Integration-Test
Generate-Tests
BVH


# Test files
tmp/*
data/configurations/*

# Vim files
*.swp
*.swo

# Python files
python/env/*
python/__pycache__/*

build/


.vscode/*