
*.o

# Generated binaries
CPU-Sphere-Test
CPU-Mesh-Test
generate-test
Eigen
Full-Integration-Test
Generate-Tests
BVH
rtcd-bench


# Test files
tmp/*
data/configurations/*

# Claude stuff
SESSION_NOTES.md
PickleAudit.md

# Vim files
*.swp
*.swo

# Python files
python/env/*
python/__pycache__/*

build/
results/

.vscode/*

